<footer>
  <div>
    <address class="h-card">
      <p class="p-name">noesya Paris</p>
      <span class="p-street-address">137 boulevard de Magenta</span><br>
      <span class="p-postal-code">75010</span>&nbsp;<span class="p-locality">Paris</span><br>
      <span class="p-country-name">France</span>
    </address>
    <address class="h-card">
      <p class="p-name">noesya Bordeaux</p>
      <span class="p-street-address">15 rue des Bouviers</span><br>
      <span class="p-postal-code">33800</span>&nbsp;<span class="p-locality">Bordeaux</span><br>
      <span class="p-country-name">France</span>
    </address>
    {% include nav/ecosystem.html %}
    {% include nav/aorg.html %}
    {% picture owl_footer "/assets/images/chouette/small.png" --img alt="La chouette noesya" %}
    {% include nav/legal.html %}
    {% include nav/contacts.html %}
  </div>
</footer>