{% assign previous = false %}
{% assign next = false %}
{% if page.nav %}
  {% assign previous = page.nav.previous %}
  {% assign next = page.nav.next %}
{% elsif include.auto %}
  {% assign collection = site[page.collection] %}

  {% for item in collection %}
    {% if item.title == page.title %}
      {% unless forloop.first %}
        {% assign previous = iterator %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = collection[forloop.index] %}
      {% endunless %}
    {% endif %}
    {% assign iterator = item %}
  {% endfor %}

  {% unless previous %}
    {% assign previous = collection | last %}
  {% endunless %}

  {% unless next %}
    {% assign next = collection | first %}
  {% endunless %}
{% endif %}

{% if previous and next %}
<nav>
    <ul>
      <li data-link-delay="3">
        <a href="{{previous.url}}">
          <span>{{previous.text | default: 'Précédent'}}</span><br>
          {{- previous.title -}}
        </a>
      </li>
      <li data-link-delay="3">
        <a href="{{next.url}}">
          <span>{{next.text | default: 'Suivant'}}</span><br>
          {{- next.title -}}
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
